.navList {
  display: flex;
}

.burgerNav {
  display: none;
}

.navListCloseButton {
  display: none;
}

.navListContent {
  display: flex;
  flex-direction: row;
}

.listedItems {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 20px;
}

a {
  color: rgb(85, 26, 139);
}

@media only screen and (max-width: 768px) {
  .navList {
    position: absolute;
    background: #a7a7a74a;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 2;
  }

  .navListContent {
    width: 300px;
    padding-top: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: -3px 0 5px 0 #c7c5c5;
  }

  .burgerNav {
    display: flex;
    background: #E33173;
    color: white;
    padding: 20px;
    align-items: center;
  }

  .burgerTitle {
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    padding-right: 20px;
    flex: 1;
  }

  .navListClosed {
    display: none;
  }

  .navListCloseButton {
    display: block;
    text-align: right;
    margin: 5px 20px;
    cursor: pointer;
    font-weight: bold;
  }

  .listedItems {
    flex-direction: column;
  }
}
