.exercise-selection-page {
  padding: 0;
}

.exercise-cards-container {
  display: flex;
  flex-direction: column;
}

.exercise-option-card-container {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  background: white;
  justify-content: center;
  min-height: 220px;
  border-radius: 30px;
  box-shadow: 0 5px 10px rgb(64 64 64 / 20%);
}

.reverse-content {
  flex-direction: row-reverse;
}

@media only screen and (max-width: 430px) {
  .exercise-option-card-container {
    flex-direction: column;
    min-height: 0;
  }

  .reverse-content {
    flex-direction: column;
  }
}

.exercise-option-card-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 30px;
}
